main {
  height: 100%;
}

.menu-link {
  margin: 10px 0 10px 0;
  padding: 0;
}

.menu-link .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none;
  border-radius: 0px;
}

.menu-link .md-button .md-ripple-container {
  border-radius: 0px;
}

.menu-link .md-button.active {
  background: rgba(0, 0, 0, 0.08);
}

.login-content {
  height: 100%;
  background: #f0f0f0;
}

.login-content .show-password-icon {
  color: grey;
  cursor: pointer;
  outline: none;
}

.login-content .login-title {
  text-align: center;
}

.login-content .login-title md-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: #2196f3;
}

md-icon {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
