home {
  height: 100%;
}

.menu-link {
  margin: 10px 0 10px 0;
  padding: 0;
}

.menu-link .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none;
  border-radius: 0px;
}

.menu-link .md-button .md-ripple-container {
  border-radius: 0px;
}

.menu-link .md-button.active {
  background: rgba(0, 0, 0, 0.08);
}

ul.md-steppers-indicators {
  padding: 0;
  margin: 0;
  height: 72px;
}

ul.md-steppers-indicators li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

ul.md-steppers-indicators li.step {
  position: relative;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  outline: none;
}

ul.md-steppers-indicators li.step span {
  outline: none;
}

ul.md-steppers-indicators li.step .indicator {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
  margin-right: 8px;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
}

ul.md-steppers-indicators li.step .indicator md-icon {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
}

ul.md-steppers-indicators li.step.editable.done {
  cursor: pointer;
}

ul.md-steppers-indicators li.step.active {
  color: black;
}

ul.md-steppers-indicators li.step.active .indicator {
  background-color: #4285F4;
}

ul.md-steppers-indicators li.step.done .indicator {
  background-color: #4285F4;
}

ul.md-steppers-indicators li.line {
  margin: 0px;
  margin-left: -16px;
  margin-right: -16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.12);
}

.search-input input {
  padding: 15px;
  outline: none;
  border: none;
  width: 20px;
}

.search-input md-icon.search {
  margin-left: 15px;
}

.search-input button {
  padding: 0;
  border: 0;
  background: none;
  outline: 0;
}

.search-input md-icon.clear {
  margin-right: 15px;
  margin-left: 15px;
}

.search-result {
  cursor: pointer;
  margin: 8px;
}

.search-result md-grid-tile md-grid-tile-footer {
  background: #2196f3;
  color: white;
  height: 60px;
}

.search-result md-grid-tile md-grid-tile-footer h3 {
  margin: 0 8px 0 8px;
}

.search-result md-grid-tile .grid-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: grey;
}

.search-result md-grid-tile .grid-image img {
  width: 100%;
}

.background-item-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.background-item-image img {
  width: 100%;
}

.item-detail-card {
  position: relative;
  background: white;
  margin-top: 200px;
  z-index: 1;
}

.material-content {
  background: #f0f0f0;
}

.login-content {
  height: 100%;
  background: #f0f0f0;
}

.login-content .show-password-icon {
  color: grey;
  cursor: pointer;
  outline: none;
}

.login-content .login-title {
  text-align: center;
}

.login-content .login-title md-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: #2196f3;
}

md-icon {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
