/*** Global ***/
main {
  height: 100%;
}

.menu-link {
  margin: 10px 0 10px 0;
  padding: 0;
}

.menu-link .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  text-transform: none;
  border-radius: 0px;
}

.menu-link .md-button .md-ripple-container {
  border-radius: 0px;
}

.menu-link .md-button.active {
  background: rgba(0, 0, 0, 0.08);
}

.login-content {
  height: 100%;
  background: #f0f0f0;
}

.login-content .show-password-icon {
  color: grey;
  cursor: pointer;
  outline: none;
}

.login-content .login-title {
  text-align: center;
}

.login-content .login-title md-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: #2196f3;
}

md-icon {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.md-timeline {
  position: relative;
}

.md-timeline .md-timeline-event {
  padding-bottom: 8px;
  position: relative;
}

.md-timeline .md-timeline-event md-card {
  margin-top: 0px;
  margin-bottom: 0px;
}

.md-timeline .md-timeline-event .md-timeline-content {
  position: relative;
  width: calc(50% - 37px);
  outline: none;
  cursor: pointer;
  transition: width 1s ease-in-out, margin 1s ease-in-out, padding 1s ease-in-out;
  z-index: 2;
}

.md-timeline .md-timeline-event::after {
  display: block;
  content: "";
  width: 4px;
  height: calc(100% - 14px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 2px);
  top: calc(14px);
}

.md-timeline .md-timeline-event:last-child::after {
  background: linear-gradient(to bottom, #d2d2d2 0%, rgba(210, 210, 210, 0) 70%, rgba(210, 210, 210, 0) 100%);
}

.md-timeline .md-timeline-event:nth-child(even) .md-timeline-content {
  margin-left: calc(50% + 37px);
}

.md-timeline .md-timeline-event:nth-child(odd) .md-timeline-content {
  margin-left: 0;
}

@media (min-width: 601px) {
  .md-timeline .md-timeline-event .md-timeline-content.active {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.md-timeline .md-timeline-event .md-timeline-content.active {
  padding-bottom: 8px;
  padding-top: 30px;
}

.md-timeline .md-timeline-badge {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #d2d2d2;
  top: calc(0px - 0px);
  right: calc(50% - 7px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.md-timeline .md-timeline-badge i {
  font-size: -1px;
  line-height: 14px;
}

@media (max-width: 600px) {
  .md-timeline .md-timeline-event .md-timeline-content {
    width: calc(100% - 44px);
  }
  .md-timeline .md-timeline-event::after {
    left: 5px;
  }
  .md-timeline .md-timeline-event:nth-child(even) .md-timeline-content {
    margin-left: 44px;
  }
  .md-timeline .md-timeline-event:nth-child(odd) .md-timeline-content {
    margin-left: 44px;
  }
  .md-timeline .md-timeline-badge {
    left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

md-toolbar {
  z-index: 100;
}
