<md-card>
    <ul class="md-steppers-indicators" layout="row" layout-align="space-between center" layout-fill>
        <li class="line" ng-repeat-start="step in vm.steps" flex ng-if="!$first"></li>
        <li class="step" md-ink-ripple="{{step.editable && step.state == 'done' ? '#d9d9d9' : 'false'}}" ng-repeat-end ng-click="step.editable && step.state == 'done' ? vm.select($index) : undefined" 
            ng-class="{active: step.state == 'active', editable: step.editable, done: step.state == 'done'}">
            <div class="indicator">
                <span ng-if="step.state == ''">{{$index + 1}}</span>
                <span ng-if="step.state == 'active'">{{$index + 1}}</span>
                <span ng-if="step.state == 'done' && !step.editable"><md-icon>check</md-icon></span>
                <span ng-if="step.state == 'done' && step.editable"><md-icon>edit</md-icon></span>  
            </div>
            <div>
                <span>{{step.title}}</span>
            </div>
        </li>
    </ul>
</md-card>
<md-card>
    <div ng-transclude ></div>
</md-card>