<div layout="row" layout-fill>
    <md-sidenav
        md-component-id="sidenav"
        class="md-sidenav-left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="2">
        <sidenav layout="column" layout-fill></sidenav>
    </md-sidenav>
    <div layout="column" layout-fill>
        <md-toolbar>
            <header></header>
        </md-toolbar>

        <md-content flex layout-padding class="material-content">
            <p>Test</p>
        </md-content>
    </div>
</div>
