/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

main {
    height: 100%;
}

.menu-link {
    margin: 10px 0 10px 0;
    padding: 0;
     .md-button {
        border-radius: 0;
        cursor: pointer;
        display: block;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        padding: 0px 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
        text-transform: none;
        border-radius: 0px;
        .md-ripple-container {
            border-radius: 0px;
        }
        &.active {
            background: rgba(0,0,0,0.08)
        }
    }
}

.login-content {
    height: 100%;
    background: rgb(240,240,240);
    .show-password-icon {
        color: grey;
        cursor: pointer;
        outline: none;
    }
    .login-title {
        text-align: center;
        md-icon {
            width: 64px;
            height: 64px;
            font-size: 64px;
            color: rgb(33,150,243);
        }
    }
}

md-icon {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

$timeline-badge-size: 14px;
$timeline-badge-margin: 0px;
.md-timeline {
	position: relative;
	.md-timeline-event {
    padding-bottom: 8px;
    md-card {
      margin-top: 0px;
      margin-bottom: 0px;
    }
		position: relative;
		.md-timeline-content {
			position: relative;
			width: calc(50% - #{$timeline-badge-size/2 + 30px});
      outline: none;
      cursor: pointer;
      transition: width 1s ease-in-out, margin 1s ease-in-out, padding 1s ease-in-out;
      z-index: 2;
		}

		&::after {
			display: block;
			content: "";
			width: 4px;
			height: calc(100% - #{$timeline-badge-size + $timeline-badge-margin});
			position: absolute;
			background: rgb(210,210,210);
			left: calc(50% - 2px);
			top: calc(#{$timeline-badge-size + $timeline-badge-margin});
		}

		&:last-child::after {
			background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(210,210,210,0) 70%, rgba(210,210,210,0) 100%)
		}

		&:nth-child(even) {
			.md-timeline-content {
				margin-left: calc(50% + #{$timeline-badge-size/2 + 30px});
			}
		}

		&:nth-child(odd) {
			.md-timeline-content {
				margin-left: 0;
			}
		}

    @media (min-width: $small-screen-up) {
        .md-timeline-content.active {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .md-timeline-content.active {
        padding-bottom: 8px;
        padding-top: 30px;
    }
	}

	.md-timeline-badge {
		display: block;
		position: absolute;
		width: $timeline-badge-size;
		height: $timeline-badge-size;
		background: rgb(210,210,210);
		top: calc(0px - #{$timeline-badge-margin});
		right: calc(50% - #{$timeline-badge-size / 2});
		border-radius: 50%;
		text-align: center;

		cursor: default;
		i {
			font-size: $timeline-badge-size - 15px;
			line-height: $timeline-badge-size;
		}
	}

	@media (max-width: $small-screen) {
		.md-timeline-event {
			.md-timeline-content {
				width: calc(100% - #{$timeline-badge-size + 30px});
			}

			&::after {
				left: $timeline-badge-size/2 - 2px;
			}

			&:nth-child(even) {
				.md-timeline-content {
					margin-left: 30px + $timeline-badge-size;
				}
			}

			&:nth-child(odd) {
				.md-timeline-content {
					margin-left: 30px + $timeline-badge-size;
				}
			}
		}

		.md-timeline-badge {
			left: 0;
		}

	}
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
