main {
    height: 100%;
}

.menu-link {
    margin: 10px 0 10px 0;
    padding: 0;
     .md-button {
        border-radius: 0;
        cursor: pointer;
        display: block;
        align-items: inherit;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        padding: 0px 16px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
        text-transform: none;
        border-radius: 0px;
        .md-ripple-container {
            border-radius: 0px;
        }
        &.active {
            background: rgba(0,0,0,0.08)
        }
    }
}

ul.md-steppers-indicators {
    padding: 0;
    margin: 0;
    height: 72px;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }
    li.step {
        position: relative;
        height: 100%;
        padding-left: 24px;
        padding-right: 24px;
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        outline: none;
        span {
            outline: none;
        }
        .indicator {
            width: 24px;
            height: 24px;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.38);
            border-radius: 50%;
            margin-right: 8px;
            text-align: center;
            line-height: 24px;
            color: #ffffff;
            md-icon {
               color: #ffffff;
               font-size: 15px;
               line-height: 24px;
            }
            font-weight: normal;
        }
        &.editable.done {
            cursor: pointer;
        }
        &.active {
            color: black;
            .indicator {
                background-color: #4285F4;
            }
        }
        &.done {
            .indicator {
                background-color: #4285F4;
            }
        }
    }
    li.line {
        margin: 0px;
        margin-left: -16px;
        margin-right: -16px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.search-input {
    input {
        padding: 15px;
        outline: none;
        border: none;
        width: 20px;
    }
    md-icon.search {
        margin-left: 15px;
    }
    button {
        padding: 0;
        border: 0;
        background: none;
        outline: 0;
    }
    md-icon.clear {
        margin-right: 15px;
        margin-left: 15px;
    }  
}

.search-result {
    cursor: pointer;
    margin: 8px;
    md-grid-tile {
        md-grid-tile-footer {
            background: rgb(33,150,243);
            color: white;
            height: 60px;
            h3 {
                margin: 0 8px 0 8px;
            }
        }
        .grid-image {
           overflow: hidden; width: 100%; height: 100%; background: grey;
           img {
               width: 100%;
           } 
        }
    }
}

.background-item-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    img {
        width: 100%;
    }
}

.item-detail-card {
    position: relative;
    background: white;
    margin-top: 200px;
    z-index: 1;
}

.material-content {
    background: rgb(240,240,240);
}

.login-content {
    height: 100%;
    background: rgb(240,240,240);
    .show-password-icon {
        color: grey;
        cursor: pointer;
        outline: none;
    }
    .login-title {
        text-align: center;
        md-icon {
            width: 64px;
            height: 64px;
            font-size: 64px;
            color: rgb(33,150,243);
        }
    }
}

md-icon {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}