<div ng-repeat="experience in vm.experiences">{{experience}}</div>

<md-card>
  <md-list>
    <md-subheader class="md-no-sticky">Experiences</md-subheader>
    <md-list-item ng-repeat="experience in vm.experiences" class="md-2-line">
      <md-icon>work</md-icon>
      <div class="md-list-item-text">
        <h3>{{experience.title}} - {{experience.company}}</h3>
        <p>{{experience.startDate | date:"longDate"}} - {{experience.endDate | date:"longDate"}}</p>
      </div>
      <md-icon ng-click="vm.edit($event, $index)" class="md-secondary md-hue-3">edit</md-icon>
    </md-list-item>
  </md-list>
</md-card>
