<item-detail-card item="vm.show"></item-detail-card>

<md-grid-list class="search-result"
    md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="7"
    md-row-height="2:3" md-gutter="12px">
    <md-grid-tile ng-repeat="season in vm.seasons" ui-sref="main.show-season({slug: vm.show.ids.slug, season_number: season.number})">
      
        <div class="grid-image">
            <img ng-src="{{season.images.poster.thumb}}">
        </div>
        <md-grid-tile-footer>
            <h3>Saison {{season.number}}<span ng-if="season.first_aired"> ({{season.first_aired | date:"yyyy"}})</span></h3>
            <h3>{{season.episode_count}} épisode(s)</h3>
        </md-grid-tile-footer>
     
    </md-grid-tile>
</md-grid-list>