{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "mongodb": {
      "name": "mongodb",
      "connector": "mongodb",
      "host": "",
      "database": "",
      "username": "",
      "password": "",
      "port":
  }
}
