<h1>Steppers Component</h1>

<steppers>
    <step title="'Série'">
        <h2>Rechercher la série</h2>
        <p>Description 1</p>
        <search-show></search-show>
    </step>
    <step title="'Saison'">
        <h2>Sélectionner la saison</h2>
        <p>Description 2</p>
    </step>
    <step title="'Episodes'">
        <h2>Sélectionner les épisodes</h2>
        <p>Description 2</p>
    </step>
    <step title="'Téléchargement'">
        <h2>Télécharger !</h2>
        <p>Description 4</p>
    </step>
</steppers>
